<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ironman.forum.dao.MomentDAO">
    <insert id="save" parameterType="com.ironman.forum.entity.Moment"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO moment(unique_id, content, user_id, like_num, dislike_num, comment_num, 
        view_num, is_private, deleted, create_time)
        VALUES 
        (#{uniqueId}, #{content}, #{userId}, #{likeNum}, #{dislikeNum}, #{commentNum}, #{viewNum},
         #{isPrivate}, #{deleted}, #{createTime})
    </insert>

    <select id="getById" parameterType="java.lang.Long" resultType="com.ironman.forum.entity.Moment">
        SELECT * FROM moment WHERE id = #{id} AND deleted = FALSE
    </select>
</mapper>