<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ironman.forum.dao.TimeLineDAO">
    <insert id="save" parameterType="com.ironman.forum.entity.TimeLine">
        INSERT INTO time_line(user_id, article_id, type, is_self, is_new, create_time)
        VALUES
        (#{userId}, #{articleId}, #{type}, #{isSelf}, #{isNew}, #{createTime})
    </insert>


    <insert id="batchSave">
        INSERT INTO time_line(user_id, article_id, type, is_self, is_new, create_time)
        VALUES
        <foreach collection="timeLineList" item="item" separator=",">
            (#{item.userId},#{item.targetId},#{item.type},#{item.isSelf},#{item.isNew},#{log.createTime})
        </foreach>
    </insert>

    <select id="getAllLimitByUserId" resultType="com.ironman.forum.entity.TimeLine">
        SELECT * FROM time_line where user_id = #{userId} AND deleted = FALSE
        <include refid="com.ironman.baseSql.page">
            <property name="pageRequest" value="pageRequest"/>
        </include>
    </select>

</mapper>