<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ironman.forum.dao.UserMomentDAO">
    <insert id="save" parameterType="com.ironman.forum.entity.UserMoment">
      INSERT INTO user_moment(user_id, moment_id, reason, type, is_private, deleted, create_time)
      VALUES
      (#{userId}, #{momentId}, #{reason}, #{type}, #{isPrivate}, #{deleted}, #{createTime})
    </insert>

    <select id="getAllLimitByUserId" resultType="com.ironman.forum.entity.UserMoment">
        SELECT * FROM user_moment WHERE user_id = #{userId} AND deleted = FALSE
        <if test="pageRequest.orderBy != null">
            ORDER BY ${pageRequest.orderBy} DESC
        </if>
        limit ${pageRequest.page * pageRequest.size}, ${(pageRequest.page + 1) * pageRequest.size}
    </select>
</mapper>