<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ironman.forum.dao.UserDAO">
    <select id="getArticleBaseInfoById" parameterType="java.lang.Long" resultType="com.ironman.forum.entity.User">
        SELECT id, unique_id, username, profile FROM user WHERE id = #{id} AND disabled = FALSE
    </select>

    <select id="getArticleBaseInfoByUniqueId" parameterType="java.lang.String"
            resultType="com.ironman.forum.entity.User">
        SELECT id, unique_id, username, profile FROM user WHERE unique_id = #{uniqueId} AND disabled = FALSE
    </select>

    <select id="getById" parameterType="java.lang.Long" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE id = #{id} AND disabled = FALSE
    </select>

    <select id="getByUniqueId" parameterType="java.lang.String" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE unique_id = #{uniqueId} AND disabled = FALSE
    </select>

    <select id="getByUsernameAndPassword" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE username = #{username} AND password = #{password} AND disabled = FALSE ;
    </select>

    <select id="getByPhone" parameterType="java.lang.String" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE phone = #{phone} AND disabled = FALSE;
    </select>

    <select id="getByUsername" parameterType="java.lang.String" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE username = #{username} AND disabled = FALSE;
    </select>

    <insert id="save" parameterType="com.ironman.forum.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(unique_id,username,password,sex,phone,email,intro,profile,school,follower_num,following_num,
        moment_num,blog_num,question_num,disabled,create_time)
        VALUES 
        (#{uniqueId}, #{username}, #{password}, #{sex}, #{phone}, #{email}, #{intro}, #{profile}, #{school},
        #{followerNum}, #{followingNum}, #{momentNum}, #{blogNum}, #{questionNum}, #{disabled}, #{createTime})
    </insert>

    <update id="update" parameterType="com.ironman.forum.entity.User">
        UPDATE user SET profile = #{profile}, phone = #{phone}, email = #{email}, sex = #{sex},
        school = #{school}, intro = #{intro}
        WHERE id = #{id}
    </update>
</mapper>
