<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ironman.forum.dao.UserDAO">
    <select id="getArticleBaseInfoById" parameterType="java.lang.Long" resultType="com.ironman.forum.entity.User">
        SELECT id, unique_id, username, profile FROM user WHERE id = #{id} AND disabled = FALSE
    </select>

    <select id="getArticleBaseInfoByUniqueId" parameterType="java.lang.String"
            resultType="com.ironman.forum.entity.User">
        SELECT id, unique_id, username, profile FROM user WHERE unique_id = #{uniqueId} AND disabled = FALSE
    </select>

    <select id="getById" parameterType="java.lang.Long" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE id = #{id} AND disabled = FALSE
    </select>

    <select id="getByUniqueId" parameterType="java.lang.String" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE unique_id = #{uniqueId} AND disabled = FALSE
    </select>

    <select id="getByUsernameAndPassword" resultType="com.ironman.forum.entity.User">
        SELECT * FROM user WHERE username = #{username} AND password = #{password} AND disabled = FALSE ;
    </select>
</mapper>
