<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ironman.forum.dao.ViewLogDAO">

    <select id="getById" parameterType="java.lang.Long" resultType="com.ironman.forum.entity.ViewLog">
        SELECT * FROM view_log WHERE id = #{id} AND disabled = FALSE
    </select>

    <insert id="batchSave">
        INSERT INTO view_log(user_id,target_id,type,disabled,length,create_time)
        VALUES
        <foreach collection="viewLogList" item="log" separator=",">
            (#{log.userId},#{log.targetId},#{log.type},#{log.disabled},#{log.length},#{log.createTime})
        </foreach>
    </insert>

    <insert id="save" parameterType="com.ironman.forum.entity.ViewLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO view_log(user_id,target_id,type,disabled,length,create_time)
        VALUES
        (#{userId},#{targetId},#{type},#{disabled},#{length},#{createTime})

    </insert>
</mapper>